{% extends "base.html" %}

{% block content %}
    <br>
    <br>   
    <table border=2>
        <thead>
          <tr>
            <th>Title</th>
            <th>Blog</th>
            <th>Publish Date</th>
            <th>Author</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for blog in blog %}  
          <tr>
            <td>{{blog.Title}}</td>
            <td>{{blog.Description}}</td>
            <td>{{blog.Pub_date}}</td>
            <td>{{blog.Author}}</td>
            <td><a href="{% url 'blog_update' blog_id %}">Update</a></td>
            
          </tr>
          {% endfor %} 
        </tbody>
      </table>

{% endblock content %}