{% extends "base.html" %}

{% block content %}

<a href=#>Add New User</a>
    <br>
    <br>
    
    <table border=2>
        <thead>
          <tr>
            <th>Title</th>
            <th>Blog</th>
            <th>Publish Date</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
        {% for blog in blog %}  
          <tr>
            <td>{{blog.Title}}</td>
            <td>{{blog.Description}}</td>
            <td>{{blog.Pub_date}}</td>
            <td>{{blog.Author}}</td>
            
          </tr>
          {% endfor %} 
        </tbody>
      </table>

{% endblock content %}