{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'webapp/css/form.css' %}">
{% endblock css %}

{% block content %}
<h1>Helloo!!!!!!</h1>
<div class="container login-container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-2 login-box">
      <div class="col-lg-12 login-key">
      </div>
      <div class="col-lg-12 login-title">
        Login
      </div>
      <div class="col-lg-12 login-form">
        <div class="col-lg-12 login-form">
          <form action="{% url 'webapp:login' %}" method="POST">{% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-control-label">EMAIL</label>
              <input type="email" class="form-control" name="email" required value="{{email}}">
            </div>
            <div class="mb-3">
              <label class="form-control-label">PASSWORD</label>
              <input type="password" class="form-control" name="password" required value="{{password}}">
            </div>

            <div class="col-lg-12 loginbttm">
              <div class="col-lg-12 login-btm login-text">
                {% if error %}
                {{error}}
                {% endif %}
              </div>
              <br><br>
              <div class="login-button" style="text-align: center;">
                <button type="submit" class="btn btn-outline-primary">LOGIN</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}