{% extends "base.html" %}

{% block content %} 

    <div class="text-center">
      <a href="{% url 'webapp:add_blog' %}"><button type="button" class="btn btn-outline-primary">Add New Blog</button></a>
    </div>
    <br><br>
    {% if blog %}
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Blog</th>
            <th>Publish Date</th>
            <th>Author</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for blog in blog %}  
          <tr>
            <td>{{blog.Title}}</td>
            <td>{{blog.Description}}</td>
            <td>{{blog.Pub_date}}</td>
            <td>{{blog.Author}}</td>
            <td><a href="{% url 'webapp:update_blog' blog.id %}"><button type="button" class="btn btn-outline-warning">Update</button></a></td>
            <td><a href="{% url 'webapp:delete_blog' blog.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    {% else %}
    <h1 style="text-align: center;"> No Blogs Written Yet! </h1>

    {% endif %}

{% endblock content %}