{% extends "base.html" %}

{% block content %}

<form action="{% url 'webapp:update_blog' blog_id %}" method="POST"> {% csrf_token %}
    
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value="{{Title}}">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" rows="5">{{Description}}</textarea>
    </div>
    <div class="d-grid gap-2 col-3 mx-auto">
    <button type="button" class="btn btn-outline-success">Update</button>
    </div>
  </form>

{% endblock content %}